{% extends 'base.html' %}

{% block content %}
    <div class="base-block">
        <h2 class="crud-title">Modifier votre billet</h2>
        <form method="post" enctype="multipart/form-data">
            {% include 'core/partials/ticket_form.html' %}
            {% csrf_token %}
            <div class="crud-button-display gap-3">
                <button type="submit" class="core-button">Modifier</button>
                <a href="{% url "personal_posts" %}" class="btn btn-outline">Annuler</a>
            </div>
        </form>
    </div>

{% endblock content %}