{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="base-block w-4/5 max-w-4xl mx-auto">
        <div class="text-center mb-4">
            <div class="inline-flex flex-col md:flex-row gap-4 md:gap-8 lg:gap-12 mx-auto">
                <a href="{% url 'create_ticket' %}" class="core-button">Demander une critique</a>
                <a href="{% url 'create_ticket_review' %}" class="core-button">Créer une critique</a>
            </div>
        </div>

    {% if page_template %}
        {% include page_template %}
        {% block js %}
            {{ block.super }}
            <script src="http://code.jquery.com/jquery-latest.js"></script>
            <script src="{% static 'js/el-pagination.js' %}"></script>
            <script>$.endlessPaginate();</script>
        {% endblock %}
    {% else %}
        <p><a href="{% url 'follow' %}">Abonnez-vous</a> à des utilisateur pour voir afficher du contenu ici !</p>
    {% endif %}

{% endblock content %}
