{% extends 'base.html' %}
{% load static %}

{% block content %}

    <button><a href="{% url 'create_ticket' %}">Demander une critique</a></button>
    <button><a href="{% url 'create_ticket_review' %}">Créer une critique</a></button>

    {% if page_template %}
        {% include page_template %}
        {% block js %}
            {{ block.super }}
            <script src="http://code.jquery.com/jquery-latest.js"></script>
            <script src="{% static 'js/el-pagination.js' %}"></script>
            <script>$.endlessPaginate();</script>
        {% endblock %}
    {% else %}
        <p>Abonnez-vous à des utilisateur pour voir afficher du contenu ici !</p>
    {% endif %}

{% endblock content %}
