{% extends 'base.html' %}

{% block content %}

    <button><a href="{% url 'create_ticket' %}">Demander une critique</a></button>
    <button><a href="{% url 'create_ticket_review' %}">Créer une critique</a></button>
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'core/partials/ticket_snippet.html' with ticket=post %}
            {% if not post.reviews.exists %}
                <button><a href="{% url 'create_review' post.id %}">Créer une critique</a></button>
            {% endif %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'core/partials/review_snippet.html' with review=post %}
        {% endif %} 
    {% endfor %}

{% endblock content %}
