{% extends 'base.html' %}

{% block content %}

    <p>Suivre d'autres utilisateurs</p>

    <form method="post">
        {{ follows_form.as_p }}
        {% csrf_token %}
        <button type="submit" name="follow">Suivre</button>
        <button type="submit" name="search">Rechercher</button>
    </form>

    {% if search_results %}
        {% for user in search_results %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ user.username }}">
            <div>
                {{ user.username }} 
                <button type="submit" name="follow">Suivre</button>
            </div>
        </form>
        {% endfor %}
    {% endif %}

    {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <p>Abonnements</p>
    {%if following %}
        {% for follow in following %}
            {{ follow.followed_user.username }} <a href="{% url 'unfollow' follow.id %}">Désabonner</a><br> 
        {% endfor %}
    {% else %}
        <p>Vous n'avez aucun abonnement pour le moment !</p>
    {% endif %}

    <p>Abonnés</p>
    {% if followers %}
        {% for follower in followers %}
            {{ follower.user.username }} <a href="{% url 'block' follower.id %}">Bloquer</a><br>
        {% endfor %}
    {% else %}
        <p>Vous n'avez aucun abonnés pour le moment !</p>
    {% endif %}

    {% if blocked_users %}
        <p>Bloqués</p>
        {% for blocked_user in blocked_users %}
            {{ blocked_user.blocked.username }} <a href="{% url 'unblock' blocked_user.id %}">Débloquer</a>
        {% endfor %}
    {% endif %}

{% endblock content %}