{% extends 'base.html' %}

{% block content %}

    <p>Suivre d'autre utilisateur</p>
    <form method="post">
        {{ follows_form.as_p }}
        {% csrf_token %}
        <button type="submit">Envoyer</button>
    </form>
    {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <p>Abonnements</p>
    {% for follow in following %}
        {{ follow.followed_user.username }} <a href="{% url 'unfollow' follow.id %}">Désabonner</a><br> 
    {% endfor %}
    <p>Abonnés</p>
    {% for follower in followers %}
        {{ follower.user.username }}<br>
    {% endfor %}
{% endblock content %}