{% extends 'base.html' %}

{% block content %}

    <button><a href="{% url 'create_ticket' %}">Demander une critique</a></button>
    <button><a href="">Créer une critique</a></button>
    {% for ticket in tickets %}
        {% include 'core/partials/ticket_snippet.html' %}
        <button><a href="{% url 'create_review' ticket.id %}">Créer une critique</a></button>
    {% endfor %}
    {% for review in reviews %}
        {% include 'core/partials/review_snippet.html' %}
    {% endfor %}

{% endblock content %}