{% extends 'base.html' %}
{% load static %}
{% load core_extras %}

{% block content %}

    <div class="base-block">
        <h2 class="flex justify-center mb-4">Vos posts</h2>
        {% if posts %}
            {% include page_template %}
                {% block js %}
                    {{ block.super }}
                    <script src="http://code.jquery.com/jquery-latest.js"></script>
                    <script src="{% static 'js/el-pagination.js' %}"></script>
                    <script>$.endlessPaginate();</script>
                {% endblock %}
        {% else %}
            {% alert_info "Vos contenus seront affichés et pourront être modifiés ici après leur création." "mt-6 md:mt-6" %}
        {% endif %}
    </div>

{% endblock content %}