{% if widget.is_initial %}
    <div class="mt-2">
       <img src="{{ widget.value.url }}"alt="{{ widget.value }}" >
    </div>
   {% if not widget.required %}
   <div class="mt-2 mb-4">
       <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" class="mr-1 h-4 w-4">
       <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
   </div>
   {% endif %}
{% endif %}

<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
