{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">

    <head>
        <title>LITRevu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% tailwind_css %}
    </head>

    <body>

        <header class="relative w-full py-4 px-6 bg-sky-50 shadow-lg min-h-[80px] flex flex-col items-center 
                      lg:flex-row lg:justify-center">

            <div class="absolute left-1/2 transform -translate-x-1/2 flex items-center">
                <img src="{% static 'images/logo.svg' %}" alt="Logo LITRevu" class="h-12">
                <h1 class="text-4xl font-medium text-black">LITRevu</h1>
            </div>

            {% if user.is_authenticated %}
                <nav class="flex flex-col items-center gap-y-1 mt-12
                            lg:flex-row lg:items-center lg:mt-0 lg:relative lg:left-[380px] lg:gap-x-6">
                    <a href="{% url 'feed' %}" class="menu-link">Flux</a>
                    <a href="{% url 'posts' %}" class="menu-link">Posts</a>
                    <a href="{% url 'follow' %}" class="menu-link">Abonnements</a>
                    <form action="{% url 'logout' %}" method="post" class="menu-link">
                        {% csrf_token %}
                        <button type="submit" class="cursor-pointer">Se déconnecter</button>
                    </form>
                </nav>
            {%  endif %}

         </header>

        {% block content %}{% endblock content %}

    </body>
</html>