{% load static %}

<html>

    <head>
        <title>LITRevu</title>
        <script src="{% static 'js/scripts.js' %}" defer></script>
    </head>

    <body>
        <header>
            <h1>LITReview</h1>
            {% if user.is_authenticated %}
                <p><a href="{% url 'feed' %}">Flux</a></p>
                <p><a href="{% url 'posts' %}">Posts</a></p>
                <p><a href="{% url 'follow' %}">Abonnements</a></p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Se déconnecter</button>
                </form>
            {%  endif %}
        </header>

        {% block content %}{% endblock content %}


    </body>

</html>