<div class="mb-8">
    <label class="font-semibold" for="{{ review_form.headline.id_for_label }}">
        {{ review_form.headline.label }}
    </label>
    {{ review_form.headline }}
</div>

<div class="mb-8 flex flex-col gap-2">
    <label class="font-semibold">Note</label>
    <div class="rating rating-lg">
        {% for radio in review_form.rating %}
            <label for="{{ radio.id_for_label }}" class="sr-only bg-white text-black opacity-100">
                {{ radio.choice_label }} étoile(s)
            </label>
            <input 
                type="radio" 
                name="{{ radio.data.name }}"
                id="{{ radio.id_for_label }}" 
                value="{{ radio.data.value }}" 
                class="mask mask-star"
                {% if radio.data.selected %}checked{% endif %}
            />
        {% endfor %}
    </div>
</div>

<div class="mb-8">
    <label class="font-semibold" for="{{ review_form.body.id_for_label }}">
        {{ review_form.body.label }}
    </label>
    {{ review_form.body }}
</div>