{% load core_extras %}
<div style="border: 1px solid black; margin: 10px; padding: 5px;">
    <p>{% get_user_display review.user %} publié une critique</p>
    <p>{{ review.time_created }}</p>
    <p>{{ review.headline }} - {{ review.rating }}</p>
    <p>{{ review.body }}</p>
    <div style="border: 1px solid black; margin: 10px; padding: 5px;">
        <p>Ticket - {% get_username_display review.ticket.user %}</p>
        <p>{{ review.ticket.title }}</p>
        {% if review.ticket.image %}
            <img src="{{ review.ticket.image.url }}">
        {% endif %}
    </div>
</div>