{% load core_extras %}
<div style="border: 1px solid black; margin: 10px; padding: 5px;">
    <p> {% get_user_display ticket.user %} demandé une critique</p>
    <p>{{ ticket.time_created }}</p>
    <p>{{ ticket.title }}</p>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
        <img src="{{ ticket.image.url }}">
    {% endif %}
    {% if not ticket.reviews.exists and not hide_button %}
        <a href="{% url 'create_review' ticket.id %}" class="core-button">Créer une critique à ce billet</a>
    {% endif %}
</div>