{% load core_extras %}

<div class="post-card">
    <header class="post-header">
        <h3>{% get_user_display ticket.user %} demandé une critique</h3>
        <time class="text-sm">{{ ticket.time_created|date:"d F Y à H\hi" }}</time>
    </header>

    <article class="post-article">
        <h4>{{ ticket.title }}</h4>
        <p class="post-p">{{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}">
        {% endif %}
    </article>

    <footer class="sm:flex sm:justify-end pt-6">
        {% if not ticket.reviews.exists and not hide_button %}
            <a href="{% url 'create_review' ticket.id %}" class="core-button">Répondre au billet</a>
        {% endif %}
    </footer>
</div>